* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    max-width: 1200px;
    height: 100vh;
    background: url('https://png.pngtree.com/thumb_back/fh260/background/20230325/pngtree-wedding-flowers-champagne-color-background-image_2104747.jpg') no-repeat center center;
    background-size: cover;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
}
