@import url('https://fonts.google.com/share?selection.family=Dancing+Script:wght@400..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Dancing Script, sans-serif;
    margin: 0;
}

body {
    background: url('src/bg.gif') no-repeat center center fixed;
    background-size: 100% 100%;
}

.overlay {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3); /* Overlay for better text visibility */
}

.countdown-container {
    text-align: center;
    color: #9a2462;
    margin-bottom: 10%;
}

.countdown-timer {
    font-size: 4rem;
    font-weight: bold;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 1080px) {
    .countdown-timer {
        font-size: 2rem;
    }
    .countdown-container{
        margin-bottom: 40%;
    }
}
